* {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    letter-spacing: 5px;
    text-transform: uppercase;

}
h1 {
    font-size: 40px;
    margin-bottom: 5px;
}
h2 {
    color: #006EB6;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 15px;

    margin: 0 auto;
}
.title {
    text-align: center;
    line-height: 1.5;
}
p , ol {
    text-align: left;
    line-height: 1.5;
}
img {
    height: auto;
    width: 30%;
}
footer {
    display: grid;
    place-items: center;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
.content{
    padding-right: 10%;
    padding-left: 10%;
    border: 1px solid black;
    margin-left: 400px;
    margin-right: 400px;
}
.right {
    float: right;
}
.dark {
    color: white;
    background-color: #333;
}
.dark h2 {
    color: #63addf;
    border-bottom: 1px solid white;
}
.dark body {
    background-color: #333;
}
.dark .content{
    border: 1px solid white;
}
